[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
pandas = "2.2.1"
seleniumbase = "4.25.0"

[dev-packages]

[requires]
python_version = "3.11"